/* file name: style.css
      author: Ben Silbernagel
     contact: bensilbernagel@gmail.com
     date:    7/19/2016 - 
     purpose: style for google clone project
*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

/*
  ========================================
  Reset
  ========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

*/
.container {
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

/*
  ========================================
  Sticky Footer Solution
  by Steve Hatcher 
  http://stever.ca
  http://www.cssstickyfooter.com
  ========================================
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#sticky-body-wrap {min-height: 100%;}

#above-footer {overflow:auto;
  padding-bottom: 40px;}  /* must be same height as the footer */

#sticky-footer-wrap {position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear:both;
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/*
  ========================================
  typography
  ========================================
*/
body {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #fff;
}
/*
div {
  border: 1px solid #f2f2f2;
}
*/
/*
  ========================================
  Header
  ========================================
*/
.primary-header {
  margin-top: 10;
}
.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.nav li:last-child {
  display: inline-block;
  margin: 10px 25px 10px 10px;
  vertical-align: middle;
}
.nav a {
  text-decoration: none;
  line-height: 24px;
}
.nav a:hover {
  text-decoration: underline;
}
.primary-nav a {
  color: 000;
  opacity: .75;
}
#google-apps-img {
  height: 30px;
  width: 30px;
}
#user-account-img {
  height: 32px;
  width: 32px;
}
#notification-img {
  height: 20px;
  width: 20px;
}
#user-account-img,
#notification-img {
  border-radius: 50%;
  display: block;
  margin: -1px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

/*
  ========================================
  Logo
  ========================================
*/
.main-container {
  margin: auto;
}
.logo-container img{
  height: 92px;
  width: 272px;
  padding-top: 138px;
  padding-bottom: 0;
  margin: 0 auto;
  display: block;
}
.logo-container {
  margin: 0;
  width: 100%;
  height: 230px;
  background-color: #fff;
  position: relative;
  padding-bottom: 0;
}

/*
  ========================================
  Search Form
  ========================================
*/
.search-container {
  width: 100%;
}

/*
  ========================================
  Text Search Entry
  ========================================
*/
.search-border {
  display: block;
  height: 40px;
  width: 545px;
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  margin: 30px auto 0 auto;
  position: relative;
  z-index: 1;  
}
.search {
  border: none;
  padding: 0;
  margin-left: 10px;
  margin-right: 0;
  height: 38px;
  width: 495px;
  position: absolute;
  z-index: 6;
  left: 0;
  outline: none;
}

/*
  ========================================
  Audio Search Icon
  ========================================
*/
.audio-search-container {
  z-index: 60;
  position: absolute;
  right: 0;
  vertical-align: middle;
}
.search-audio {
  width: 30px;
  height: 30px;
}
.audio-icon {
  display: block;
  height: 23px;
  width: 17px;
  z-index: 90;
  margin: 8px;
}

/*
  ========================================
  Search Buttons
  ========================================
*/
.buttons-container {
  padding-top: 18px;
}
center .buttons {
  display: none;
  font-family: arial, sans-serif;
  overflow: hidden;
  text-align: center;
  z-index: 50;
  height: 34px;
  position: absolute;
  left: 412px;
  margin: 0px;
  top: 82px;
  width: 127px;
  visibility: inherit;
}
.buttons input {
  height: 36px;
  margin: 2.5;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 1px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}
#g-search {
  width: 125.75px;
}
#lucky-search{
  width: 142.58px;
}

/*
  ========================================
  Footer
  ========================================
*/
.footer-nav {
  line-height: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
div .footer-left {
  display: inline;
  position: absolute;
  left: 0;
  padding-left: 20px;
  padding-right: auto;
  line-height: 40px;
}
div .footer-right {
  display: inline;
  position: absolute;
  right: 0;
  padding-right: 20px;
  padding-left: auto;
  line-height: 40px;
}
.footer-nav a {
  display: inline;
  margin: 15px;
  vertical-align: middle;
  text-decoration: none;
  color: 000;
  opacity: .75;
}
.footer-nav a:hover {
  text-decoration: underline;
  color: 000;
  opacity: .75;
}

