/* file name:   main.css
      author:   Ben Silbernagel
     contact:   bensilbernagel@gmail.com
        date:   START_DATE - END_DATE
     purpose:   Viking E-commerce App Homepage stylesheet
*/

div, section {
	border: 1px solid yellow;
}

/*
  ========================================
  Header
  ========================================
*/
.homepage {
	border-bottom: 2px solid #606060;
	background-color: #e0e0e0;
	padding: 0;
	width: 100%;
	height: 46px;
}
.homepage-text {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 27px;
	padding: 5 0 5 60px;
}
.homepage a {
	line-height: 27px;
	text-decoration: none;
	color: #444;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1.5px;
}
.homepage a:hover {
	text-decoration: underline;
}
.cart {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 200px;
	height: 27px;
	padding: 5px 60px 5px 0;
}
.cart a {
	line-height: 27px;
	padding-left: 35px;
	text-decoration: none;
	color: #444;
	font-size: 13px;
}
.cart a:hover {
	text-decoration: underline;
}
.cart-img img {
	display: inline-block;
    width: 27px;
    height: 27px;
    left: 0;
    position: absolute;
}
.cart-text {
	display: inline-block;
	position: absolute;
	font-weight: normal;
	letter-spacing: 1.5px;
}

/*
  ========================================
  Banner
  ========================================
*/
.banner {
	background-image: url(images/viking_ship_background_medium.jpg);
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
	width: auto;
	z-index: 1;

}
.banner-row {
	margin: 0 auto;
	display: table;
	height: 384px;
}

.banner-column{ 
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.banner-text {
	position: static;
	font-size: 96px;
	font-weight: bolder;
	letter-spacing: 4px;
	padding: 75px 10px;
	background-color: #fff;
	color: #606060;
}
.banner-text div:after {
	top: 0;
	position: absolute;
	height: 0%;
	content: "";
}
.banner img {
	position: relative;
	width: 100%;
	height: 384px;
	margin: 0 auto;
}

/*
  ========================================
  Slogan
  ========================================
*/
.slogan {
	background-color: #606060;
    border-top: 2px solid #505050;
    border-bottom: 2px solid #505050;
	width: 100%;
}
.slogan-row {
	margin: 0 auto;
	display: table;
	height: 100px;
}
.slogan-column{ 
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.slogan-text {
	margin: auto;
	font-size: 36px;
	color: #ddd;
	font-weight: bolder;
	letter-spacing: 3px;
}
.slogan-text div:after {
	position: absolute;
	height: 0%;
	content: "";
}
/*
  ========================================
  One Liner
  ========================================
*/
.one-liner {
	background-color: #ddd;
	border-bottom: 2px solid #909090;
	width: 100%;
}
.one-liner-row {
	margin: 0 auto;
	display: table;
	height: 46px;
}
.one-liner-column{ 
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.one-liner-text {
	margin: auto;
	text-align: center;
	color: #606060;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 2px;
}
.one-liner-text div:after {
	position: absolute;
	height: 0%;
	content: "";
}

/*
  ========================================
  Inventory
  ========================================
*/
.inv {
	background-color: #ddd;
	width: 100%;
}
.grid {
	margin: auto;
	z-index: 1;
	text-align: center;
}

.inv-row {
	margin: 10px;
	display: inline-block;
	height: 300px;

}
.inv-column{ 
	white-space: nowrap;
	display: table;
	vertical-align: middle;
	height: 100%;
}
.inv-text {
	background-color: #606060;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	margin: 0 0 auto 0;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 2px;
}
.inv-text div:after {
	position: absolute;
	height: 0%;
	content: "";
}
.inv-img {
  display: block;
}
.inv-img {
  border: 1px solid #000;
  border-style: double;
  border-width: 5px;
  display: inline-block;
  position: relative;
}

/*
  ========================================
  Products
  ========================================
*/
.silent-night {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	width: 250px;
    height: 200px;
	z-index: 10;
	background-image: url(images/axe_silent_night_small.jpg);
}
.silent-night span {
  border: 1px solid #000;
  background-color: #fff;
  border-width: 2px;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin: -5px;
  padding: 3px 10px;
  z-index: 20;
}
.dainty-daisy {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	width: 250px;
    height: 200px;
	z-index: 10;
	background-image: url(images/axe_dainty_daisy_small.jpg);
}
.dainty-daisy span {
  border: 1px solid #000;
  background-color: #fff;
  border-width: 2px;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin: -5px;
  padding: 3px 10px;
  z-index: 20;
}
.double-trouble {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	width: 250px;
    height: 200px;
	z-index: 10;
	background-image: url(images/axe_double_trouble_small.jpg);
}
.double-trouble span {
  border: 1px solid #000;
  background-color: #fff;
  border-width: 2px;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin: -5px;
  padding: 3px 10px;
  z-index: 20;
}
.whispering-wind {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	width: 250px;
    height: 200px;
	z-index: 10;
	background-image: url(images/axe_whispering_wind_small.jpg);
}
.whispering-wind span {
  border: 1px solid #000;
  background-color: #fff;
  border-width: 2px;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin: -5px;
  padding: 3px 10px;
  z-index: 20;
}
.cunning-cutter {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	width: 250px;
    height: 200px;
	z-index: 10;
	background-image: url(images/axe_cunning_cutter_small.jpg);
}
.cunning-cutter span {
  border: 1px solid #000;
  background-color: #fff;
  border-width: 2px;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin: -5px;
  padding: 3px 10px;
  z-index: 20;
}
.the-kingmaker {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	width: 250px;
    height: 200px;
	z-index: 10;
	background-image: url(images/axe_kingmaker_small.jpg);
}
.the-kingmaker span {
  border: 1px solid #000;
  background-color: #fff;
  border-width: 2px;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin: -5px;
  padding: 3px 10px;
  z-index: 20;
}
/*
  ========================================
  Add to cart button
  ========================================
*/
.inv-cart {
	background-color: #606060;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	margin: 0 auto;
	padding: 10px 15px;
	text-align: center;
	color: #909090;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 2px;
}
.btn {
	padding: 3px 15px;
}

/*
  ========================================
  Pagination
  ========================================
*/
.slogan {
	background-color: #606060;
    border-top: 2px solid #505050;
    border-bottom: 2px solid #505050;
	width: 100%;
}
.slogan-row {
	margin: 0 auto;
	display: table;
	height: 100px;
}
.slogan-column{ 
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.slogan-text {
	margin: auto;
	font-size: 36px;
	color: #ddd;
	font-weight: bolder;
	letter-spacing: 3px;
}
.slogan-text div:after {
	position: absolute;
	height: 0%;
	content: "";
}
/*
  ========================================
  One Liner
  ========================================
*/
.pagination {
	background-color: #ddd;
	border-bottom: 2px solid #909090;
	width: 100%;
}
.pagination-row {
	margin: 0 auto;
	display: table;
	height: 96px;
}
.pagination-column{ 
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
ul.pagination-text {
	display: inline-block;
	padding: 0;
	margin: 0; 
}
ul.pagination-text li {
	display: inline;
}
ul.pagination-text li a {
    padding: 8px 16px;
	float:left;
	color: black;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 2px;
	text-decoration: underline;
}
ul.pagination-text li a.active {
	font-weight: bolder;
	text-decoration: none;
}
.pagination-list div:after {
	position: absolute;
	height: 0%;
	content: "";
}

/*
  ========================================
  Global settings
  ========================================
*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}