/* file name:   main.css
      author:   Ben Silbernagel
     contact:   bensilbernagel@gmail.com
        date:   START_DATE - END_DATE
     purpose:   Viking E-commerce App Homepage stylesheet
*/


/*
  ========================================
  Header
  ========================================
*/
.header-wrap {
	border-bottom: 1px solid #444;
	background-color: #e0e0e0;
	padding: 0;
	width: 100%;
	height: 37px;
}
.homepage-link {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 27px;
	padding: 5 0 5 60px;
}
.homepage-link h1 {

}
.homepage-link a {
	line-height: 27px;
	text-decoration: none;
	color: #444;
	font-size: 18px;
}
.homepage-link a:hover {
	text-decoration: underline;
}
.cart-link {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 200px;
	height: 27px;
	padding: 5px 60px 5px 0;
}
.cart-link a {
	line-height: 27px;
	padding-left: 35px;
	text-decoration: none;
	color: #444;
	font-size: 13px;
}
.cart-link a:hover {
	text-decoration: underline;
}
.cart-img img {
	display: inline-block;
    width: 27px;
    height: 27px;
    left: 0;
    position: absolute;
}
.cart-text {
	display: inline-block;
	position: absolute;
}

/*
  ========================================
  Banner
  ========================================
*/

.store {
	text-align: center;
	font-size: 36px;
}
.slogan {
	font-size: 24px;
	text-align: center;
}

/*
  ========================================
  Global settings
  ========================================
*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}