/* file name:   main.css
      author:   Ben Silbernagel
     contact:   bensilbernagel@gmail.com
        date:   START_DATE - END_DATE
     purpose:   Viking E-commerce App Homepage stylesheet
*/


/*
  ========================================
  Header
  ========================================
*/
.homepage {
	border-bottom: 2px solid #606060;
	background-color: #e0e0e0;
	padding: 0;
	width: 100%;
	height: 46px;
}
.homepage-text {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 27px;
	padding: 5 0 5 60px;
}
.homepage a {
	line-height: 27px;
	text-decoration: none;
	color: #444;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.5px;
}
.homepage a:hover {
	text-decoration: underline;
}
.cart {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 200px;
	height: 27px;
	padding: 5px 60px 5px 0;
}
.cart a {
	line-height: 27px;
	padding-left: 35px;
	text-decoration: none;
	color: #444;
	font-size: 13px;
}
.cart a:hover {
	text-decoration: underline;
}
.cart-img img {
	display: inline-block;
    width: 27px;
    height: 27px;
    left: 0;
    position: absolute;
}
.cart-text {
	display: inline-block;
	position: absolute;
	font-weight: normal;
	letter-spacing: 1.5px;
}

/*
  ========================================
  Banner
  ========================================
*/
.banner {
	background-image: url(viking_ship_background_medium.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	z-index: 1;

}
.banner-row {
	margin: 0 auto;
	display: table;
	height: 384px;
}

.banner-column{ 
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.banner-text h2 {
	position: static;
	font-size: 96px;
	font-weight: bolder;
	letter-spacing: 4px;
	color: #606060;
}
.banner-text div:after {
	top: 0;
	position: absolute;
	height: 0%;
	content: "";
}
.banner img {
	position: relative;
	width: 100%;
	height: 384px;
	margin: 0 auto;
}
/*
  ========================================
  Slogan
  ========================================
*/
.slogan {
	background-color: #606060;
    border-top: 2px solid #505050;
    border-bottom: 2px solid #505050;
	width: 100%;
}
.slogan-row {
	margin: 0 auto;
	display: table;
	height: 100px;
}
.slogan-column{ 
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.slogan-text {
	margin: auto;
}
.slogan-text h3 {
	font-size: 36px;
	color: #ddd;
	font-weight: bolder;
	letter-spacing: 3px;
}
.slogan-text div:after {
	position: absolute;
	height: 0%;
	content: "";
}
/*
  ========================================
  One Liner
  ========================================
*/
.one-liner {
	background-color: #ddd;
	border-bottom: 2px solid #909090;
	width: 100%;
}
.one-liner-row {
	margin: 0 auto;
	display: table;
	height: 46px;
}
.one-liner-column{ 
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.one-liner-text {
	margin: auto;
}
.one-liner-text h4 {
	text-align: center;
	color: #606060;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 2px;
}
.one-liner-text div:after {
	position: absolute;
	height: 0%;
	content: "";
}
/*
  ========================================
  Global settings
  ========================================
*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}